{% extends '::base.html.twig' %}

{% block body %}
<h2>RBWords</h2>
<p>RBWORDS has its origin in the Sunday bulletin at St. Albert the Great Catholic Student Center at Southeastern Louisiana State University. I began writing a reflection each Sunday for that bulletin and when I was asked to take on the ministry of Novice Master for the Southern Dominican Province, I missed writing that reflection. I had been sending copies of it to a few friends each week. To compensate, so to speak, for that loss, in January 1988, I began writing RBWORDS and sending it to friends as a way of staying in touch personally as well as preaching.</p>
<p><em>This Month:</em> Not uploaded yet.</p>
<h3>Past Reflections</h3>
--reflection list--
{% endblock %}