{% extends '::base.html.twig' %}

{% block body %}
<h2>Ways to Contact Fr. RB</h2>
<p><a href="#">Send Email via Webform</a></p>
<p><em>Email Address:</em> <a href="rbwillop@gmail.com">rbwillop at gmail.com</a></p>
<p><em>Snail Mail Address:</em><br />
Fr. RB Williams, OP<br />
Holy Rosary Priory<br />
3600 Travis St.<br />
Houston, TX 77002<br /></p>
<p><em>Cell Phone</em><br />
(210)241-2906</p>
{% endblock %}