{% extends '::base.html.twig' %}

{% block body %}
<h2>Welcome to RBWords</h2>
<p>Within this site you will find the writings of Fr. Richard B. ("RB") Williams, O.P. Fr. RB has been preaching, preaching, teaching, and ministering for more than 30 years in the Southern Province of the Order of Preachers (Dominicans).</p>
<p>All the information in the site is completely open to view. If you wish to subscribe to a particular publication or comment on a particular post login or register.</p>
<h3>Latest Posts</h3>
<h4>Word to the Wise</h4>
<p>Daily reflections on the readings from the day.</p>
Friday, November 11, 2011 - 
[Wis 13:1-9 and Luke 17:26-37]
     Today's first scripture from Wisdom is startling in its timelessness.  It is worth reading from start to finish.  Two groups of non-believers are mentioned.  The first group are...[more]
<h4>RBWords</h4>
<p>Monthly reflections from the desk of Fr. RB.</p>
Volume 24 - Number 10: October, 2011
[more]
{% endblock %}
