{% extends '::base.html.twig' %}

{% block body %}
<h2>The Preacher</h2>
<h3>Richard B ("RB") Williams, OP</h3>
<img src="{{ asset('img/rb.jpg') }}" />
<p>Is from Natchitoches Louisiana. He was born 25 February 1943.</p>
<p>RB's educational background includes Saint Mary's Elementary and High Schools in Nachitoches, Tulane University (BA in Political Science), Aquinas Institute in River Forest, Illinois (MA in Philosophy), Aquinas Institute in Dubuque, Iowa (MA in Theology) and Tulane University (JD).</p>
<p>RB entered the Dominican Order in August 1964 after completing undergraduate studies, made final vows in August 1968, and was ordained a priest on 22 May 1971.
</p>
<p><em>RB's ministerial history is long and varied:</em></p>
<ul>
  <li>Campus Minister (for 27 of his 37 years of ordained priesthood) at:
    <ul>
      <li>Tulane University (New Orleans)</li>
      <li>University of Denver Law School and University of Colorado Medical School (Denver)</li>
      <li>University of Arizona (Tucson)</li>
      <li>University of Tennessee Center for Health Sciences, Rhodes College, and University of Memphis (Memphis)</li>
      <li>University of Southeastern Louisiana (Hammond)</li>
      <li>Tulane Catholic Center (Director and Pastor)</li>
      <li>Catholic Chaplain - Texas Lutheran University, Seguin , TX</li>
    </ul>
  </li>
  <li>Ministries internal to RB's Dominican Province have included:
    <ul>
      <li>Director of Novices, Southern Dominican Province (San Antonio)</li>
      <li>Vicar Provincial, Southern Dominican Province (New Orleans)</li>
    </ul>
  </li>
  <li>Additionally, RB has served as:
    <ul>
      <li>Pastor, Saint Ann Parish (a Hispanic parish in San Antonio)</li>
      <li>Judge, Appellate Judge in the Matrimonial Tribunals of the Dioceses of Tucson, Memphis, Baton Rouge, Archdiocese of New Orleans, and Province of New Orleans, Defender of the Bond for the Appellate Tribunal of Texas</li>
      <li>Board of Trustees at Saint Joseph Hospital (Tucson), Board of Directors at Saint Peter Nursing Home (Memphis), Ethics Committee at Saint Joseph Hospital (Memphis), and Bio-ethics Advisor to Bishop (Memphis), Member of the Institutional Review Boards for Tulane University and Ochsner Foundation Hospital, Member of the Organizational Ethics Committee - Tulane University Hospital</li>
      <li>Instructor in Biomedical Ethics at St. Catharine College, St. Catharine, KY and chaplain for the Kentucky Dominican sisters: 2005-2009</li>
    </ul>
  </li>
</ul>
<p>RB has been a member of the Louisiana Bar since 1973. Beginning in Summer 2009, he moved to Austin, TX as a full time Itinerant Preacher. He has been an Itinerant Preacher for 17 years preaching parish missions and retreats for priests, deacons and laity.</p>
{% endblock %}