{% extends '::base.html.twig' %}

{% block body %}
<h2>Retreats</h2>
<p>Fr. RB is avaliable for retreats and parish missions. If you would like to schedule Fr. RB for a retreat or mission send him an email: rbwillop at gmail.com</p>
<h3>Samples</h3>
<h4>2009 Lenten Retreat</h4>
<p>THE TIME OF FULFILLMENT IS HERE! THE KINGDOM OF GOD IS AT HAND! REPENT AND BELIEVE IN THE GOSPEL.</p>
{% endblock %}