{% extends '::base.html.twig' %}

{% block body %}
<h2>Word to the Wise</h2>
<p>While serving at Tulane Catholic Center at Tulane University in New Orleans, I was accustomed to preaching almost every day of the week. When I was asked, once more (2003), to take a formation position for the Southern Dominican Province, which did not allow for me to preach on a daily basis (the friars took turns at the priory), I missed the experience. By then, E-mail and the internet had become practical realities for preaching. After consulting a couple of close friends (including the webmaster for this website), I decided with their encouragement to begin preaching online on a daily basis. This began on August 22, 2003, and has continued without interruption.</p>
<p><em>Today:</em> Friday, November 11, 2011 -</p>
<h3>Past Reflections</h3>
<p>Select a reflection by Gregorian date. Click on the arrows to expand the list.</p>
--reflection list--
{% endblock %}